/** {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
}*/
/*.header{
	height: 200px;
		background: #4aba00;
	background: radial-gradient(circle,rgba(74, 186, 0, 1) 0%, rgba(250, 205, 170, 1) 15%, rgba(255, 0, 0, 1) 28%, rgba(237, 220, 213, 0.7) 52%, rgba(88, 103, 28, 1) 76%, rgba(12, 23, 51, 1) 91%, rgba(22, 42, 156, 0.35) 100%);
}

.flex-box{
	display: flex;
	flex-wrap: wrap;
	gap: 20px 5px;
	flex-direction: row;

	width: 700px;
	height: 1000px;

	border: 5px solid red;
	margin: 20px auto;

	justify-content: space-around;
	align-items: center;
}

.elem{
	text-align: center;
	font-size: 50px;
	width: 150px;
	height: 150px;
	background: #4aba00;
	background: radial-gradient(circle,rgba(74, 186, 0, 1) 0%, rgba(250, 205, 170, 1) 15%, rgba(255, 0, 0, 1) 28%, rgba(237, 220, 213, 0.7) 52%, rgba(88, 103, 28, 1) 76%, rgba(12, 23, 51, 1) 91%, rgba(22, 42, 156, 0.35) 100%);
}

.el2{
	order: 2;
}

.el3{
	order: 3;
}*/


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

.header{
	height: 100px;
	display: flex;
	background: #4aba00;
	justify-content: center;
	gap: 25px;
	align-items: center;
}

.nav{
	display: flex;
	justify-content: space-around;
	gap: 25px;
}

