* { 
	box-sizing: border-box;
	text-decoration: none;
}

body {
	background: darkred;
}

p{
	font-size: 24px; /* размер текста */
	text-align: center; /* выравнивание текста */
	text-transform: capitalize; /* регистр lowercase, uppercase, capitalize */
	color: white;
	text-decoration: underline;
	font-family: "Great Vibes", cursive;
  	font-weight: 400;
  	font-style: normal;
}

.circle{
	text-align: center;
	width: 200px;
	height: 200px;
	background: green;
	padding: 20px;
	
	margin: 100px auto;

	border: 15px solid darkcyan;

	border-radius: 10%;
}